.principles__description {
	max-width: 58.81vw;
	margin: 4.81vh auto calc(18.82vh - 80px) auto;
	padding: 0%;
	color: white;
	font-weight: 600;
	font-size: 7.22vh;
	line-height: 1.13;
	letter-spacing: -1px;
	text-align: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1400px) {
	.principles__description {
		max-width: 58.81vw;
		margin-top: 4vh;
		margin-bottom: 11vh;
		font-size: 6vh;
	}
}

@media screen and (max-width: 1024px) {
	.principles__description {
		max-width: 90%;
		margin: 8.51vw auto 0 auto;
		font-size: 6.45vw;
	}

	.principles__element:last-of-type > h2 {
		margin-bottom: 28.22vw;
	}
}

@media screen and (max-width: 425px) {
	.principles__title {
		font-size: 36px;
		line-height: 1.22;
		letter-spacing: -1px;
		font-feature-settings: 'pnum' on, 'lnum' on;
	}
}


@media screen and (max-width: 320px) {
	.principles__element:last-of-type > h2 {
		margin: 30px auto 30px auto;
	}
}
