.lead__container-telegram {
	display: flex;
	flex-basis: 408px;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	max-width: 1200px;
}

@media screen and (max-width: 750px) {
	.lead__container-telegram {
		flex-basis: 273px;
	}
}

@media screen and (max-width: 350px) {
	.lead__container-telegram {
		flex-basis: 800px;
	}
}
