.principles__background {
	z-index: -1;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	background-color: #ae46ff;
	border-radius: 66px;
}

@media screen and (max-height: 1000px) {
	.principles__background {
		height: auto;
	}
}

@media screen and (max-width: 1024px) {
	.principles__background {
		height: auto;
		border-radius: 50px;
	}
}

@media screen and (max-width: 450px) {
	.principles__background {
		border-radius: 30px;
	}
}
