.partners__title {
	max-width: 821px;
	margin: 0 auto 80px;
	font-weight: 600;
	font-size: 36px;
	line-height: 1.22;
	letter-spacing: -1px;
	text-align: center;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.partners__title {
		margin: 0 auto 30px;
		font-size: 24px;
		line-height: 1.21;
		letter-spacing: -0.5px;
		text-align: left;
	}
}
