.header__mobile-button {
	max-width: 395px;
	margin: 60px auto 76px auto;
	padding: 35px 45px 35px 45px;
	font-size: 28px;
	line-height: 1.21;
	letter-spacing: -0.5px;
}

@media screen and (max-width: 350px) {
	.header__mobile-button {
		max-width: 224px;
		margin: 0 48px 30px 48px;
		padding: 16px 22px 16px 22px;
		font-size: 16px;
		line-height: 1.25;
	}
}
