.popup__close-icon {
	position: absolute;
	top: 30px;
	right: 30px;
	width: 30px;
	max-width: 100%;
	height: 30px;
	max-height: 30px;
	padding: 0;
	background-color: white;
	background-image: url(../../../images/krest.svg);
	background-repeat: no-repeat;
	background-position: center;
	border: none;
}

@media screen and (max-width: 1024px) {
	.popup__close-icon {
		top: -40px;
		right: 10px;
		width: 20px;
		height: 20px;
		background-color: transparent;
		background-image: url(../../../images/icon_white_crossMark.svg);
	}
}

@media screen and (max-width: 750px) {
	.popup__close-icon {
		top: -30px;
		right: 10px;
	}
}
