.popup__quality-block {
	display: flex;
	flex-direction: row;
	margin: 15px 78px 0 0;
}

@media screen and (max-width: 1220px) {
	.popup__quality-block {
		flex-direction: column;
		margin: 30px 28px 0 0;
	}
}

@media screen and (max-width: 750px) {
	.popup__quality-block {
		margin: 5px 0 0;
	}
}
