.button {
	box-sizing: border-box;
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 50px;
	cursor: pointer;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

.button:hover {
	transition: 0.3s linear;
}
