.page {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	max-width: 1440px;
	min-height: 100vh;
	margin: 0 auto;
	font-family: 'Montserrat', 'Arial', sans-serif;
	background-color: #eaf0ff;

	/* overflow-x: hidden; */
}

@media screen and (max-width: 320px) {
	.page {
		max-width: 320px;
	}
}
