.about {
	max-width: 1440px;
	margin: 0 auto;
	padding: 120px 120px 160px;
	background-color: #ffffff;
	border-radius: 60px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
	.about {
		padding: 30px 15px 30px;
	}
}
