.button__lead {
	max-width: 395px;
	padding: 35px 45px 35px 45px;
	font-size: 28px;
	font-style: normal;
	line-height: 1.21;
	letter-spacing: -0.5px;
	text-align: center;
	background-color: #ff7628;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
	font-feature-settings: 'pnum' on, 'lnum' on;
}

.button__lead:hover {
	background-color: #ff8540;
	transition: 0.3s linear;
}

@media screen and (max-width: 1024px) {
	.button__lead {
		font-size: 28px;
		line-height: 1.21;
	}
}


@media screen and (max-width: 350px) {
	.button__lead {
		margin: 0 48px 0 48px;
		padding: 16px 22px 16px 22px;
		font-size: 16px;
		line-height: 1.25;
	}
}
