.button_lead {
	width: 100%;
	max-width: 395px;
	height: 104px;
	padding: 0 0 0 0;
	font-size: 28px;
	font-style: normal;
	line-height: 1.21;
	letter-spacing: -0.5px;
	background-color: #ff7628;
	filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
	font-feature-settings: 'pnum' on, 'lnum' on;
}

.button_lead:hover {
	background-color: #ff8540;
	cursor: pointer;
	transition: 0.3s linear;
}

@media screen and (max-width: 320px) {
	.button_lead {
		width: 100%;
		max-width: 224px;
		height: 52px;
		font-size: 16px;
		line-height: 1.25;
	}
}
