.button__telegram {
	width: 100%;
	max-width: 156px;
	margin: 0 10px 0 0;
	padding: 16px 22px 16px 22px;
	font-size: 16px;
	font-style: normal;
	line-height: 1.25;
	background-color: rgba(11, 11, 11, 1);
	font-feature-settings: 'pnum' on, 'lnum' on;
}
