.course__programming {
	box-sizing: border-box;
	width: 100%;
	max-width: 1220px;
	margin: 0 auto;
	padding-bottom: 7.5px;
	border-radius: 70px;
}

@media screen and (max-width: 768px) {
	.course__programming {
		padding: 0 0 10px 10px;
		border-radius: 40px;
	}
}
