.principles__title {
    margin: 0 auto;
    margin-top: 120px;
    position: absolute;
    padding: 0%;
    font-size: 36px;
    text-align: center;
    color: white;
    z-index: 22;
    border: 1px black solid;
}


@media screen and (max-width: 320px) {
    .principles__title {
        font-size: 24px;
        line-height: 29px;
    }
}