.popup__quality-list {
	width: 100%;
	max-width: 536px;
	margin: 0;
	padding: 0;
}

.popup__quality-list:last-of-type {
	margin-left: 20px;
}

@media screen and (max-width: 1220px) {
	.popup__quality-list:last-of-type {
		margin: 0;
	}
}
