.lead__title {
	margin: 0 148px 80px 148px;
	padding: 80px 0 0 0;
	color: #ffffff;
	font-weight: 600;
	font-size: 86px;
	font-style: normal;
	line-height: 1.05;
	letter-spacing: -1px;
	text-align: center;
	font-feature-settings: 'pnum' on, 'lnum' on;
}

@media screen and (max-width: 1024px) {
	.lead__title {
		max-width: 575px;
		margin: 88px 90px 80px 79px;
		padding: 0 0 0 0;
		font-size: 64px;
		line-height: 1.22;
	}
}

@media screen and (max-width: 750px) {
	.lead__title {
		margin: 74px 15px 30px 15px;
		padding: 0 0 0 0;
		font-size: 36px;
		line-height: 1.22;
	}
}
