@import url(../vendor/normalize.css);
@import url(../blocks/page/page.css);
@import url(../vendor/font.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__container/page__container.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__start/header__start.css);
@import url(../blocks/header/__scroll/header__scroll.css);
@import url(../blocks/header/__scroll-logo/header__scroll-logo.css);
@import url(../blocks/header/__mobile/header__mobile.css);
@import url(../blocks/header/__mobile-links-block/header__mobile-links-block.css);
@import url(../blocks/header/__mobile-links/header__mobile-links.css);
@import url(../blocks/header/__mobile-logo/header__mobile-logo.css);
@import url(../blocks/header/__mobile-link/header__mobile-link.css);
@import url(../blocks/header/__mobile-block/header__mobile-block.css);
@import url(../blocks/header/__link/header__link.css);
@import url(../blocks/header/__links/header__links.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__links-block/header__links-block.css);
@import url(../blocks/button/button.css);
@import url(../blocks/button/__scroll-header/button__scroll-header.css);
@import url(../blocks/button/_theme/button_theme_black.css);
@import url(../blocks/button/__mobile-header/button__mobile-header.css);
@import url(../blocks/button/__header/button__header.css);
@import url(../blocks/button/_lead/button_lead.css);
@import url(../blocks/button/_telegram/button_telegram.css);
@import url(../blocks/button-exit/button-exit.css);
@import url(../blocks/lead/lead.css);
@import url(../blocks/lead/__title/lead__title.css);
@import url(../blocks/lead/__image/lead__image.css);
@import url(../blocks/lead/__telegram/lead__telegram.css);
@import url(../blocks/lead/__caption/lead__caption.css);
@import url(../blocks/lead/__telegram-text-block/lead__telegram-text-block.css);
@import url(../blocks/lead/__telegram-logo/lead__telegram-logo.css);
@import url(../blocks/lead/__container-telegram/lead__container-telegram.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/principles/principles.css);
@import url(../blocks/principles/__scroll-container/principles__scroll-container.css);
@import url(../blocks/principles/__scroll-container/_move/principles__scroll-container_move.css);
@import url(../blocks/principles/__element/principles__element.css);
@import url(../blocks/principles/__description/principles__description.css);
@import url(../blocks/principles/__image/principles__image.css);
@import url(../blocks/principles/__title/principles__title.css);
@import url(../blocks/course/course.css);
@import url(../blocks/course/__title/course__title.css);
@import url(../blocks/course/__programming/course__programming.css);
@import url(../blocks/course/__programming/_theme/course__programming_theme_yellow.css);
@import url(../blocks/course/__subtitle/course__subtitle.css);
@import url(../blocks/course/__text/course__text.css);
@import url(../blocks/course/__list/course__list.css);
@import url(../blocks/course/__other-programm/course__other-programm.css);
@import url(../blocks/course/__card/course__card.css);
@import url(../blocks/course/__card-title/course__card-title.css);
@import url(../blocks/course/__card/_size/course__card_size_small.css);
@import url(../blocks/course/__card/_size/course__card_size_big.css);
@import url(../blocks/course/__options/course__options.css);
@import url(../blocks/course/__age/course__age.css);
@import url(../blocks/course/__age-icon/course__age-icon.css);
@import url(../blocks/course/__options-text/course__options-text.css);
@import url(../blocks/course/__duration/course__duration.css);
@import url(../blocks/course/__duration-icon/course__duration-icon.css);
@import url(../blocks/course/__tag-elements/course__tag-elements.css);
@import url(../blocks/course/__tag-element/course__tag-element.css);
@import url(../blocks/course/__skill/course__skill.css);
@import url(../blocks/course/__description/course__description.css);
@import url(../blocks/course/__description-text-in-list/course__description-text-in-list.css);
@import url(../blocks/course/__description/_block/course__description_block_small.css);
@import url(../blocks/course/__text-list/course__text-list.css);
@import url(../blocks/course/__button/course__button.css);
@import url(../blocks/course/__record-button/course__record-button.css);
@import url(../blocks/course/__review-button/course__review-button.css);
@import url(../blocks/course/__price-block/course__price-block.css);
@import url(../blocks/course/__price/course__price.css);
@import url(../blocks/course/__pay-button/course__pay-button.css);
@import url(../blocks/course/__block-list/course__block-list.css);
@import url(../blocks/course/__quality-block/course__quality-block.css);
@import url(../blocks/course/__quality-list/course__quality-list.css);
@import url(../blocks/course/__quality/course__quality.css);
@import url(../blocks/course/__benefit-icon/course__benefit-icon.css);
@import url(../blocks/course/__description/_block/course__description_block_list.css);
@import url(../blocks/course/__weakness-icon/course__weakness-icon.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_is-opened/popup_is-opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__container/_block/popup__container_block_big.css);
@import url(../blocks/popup/__container/_block/popup__container_block_column.css);
@import url(../blocks/popup/__options/popup__options.css);
@import url(../blocks/popup/__description/popup__description.css);
@import url(../blocks/popup/__paragraph/popup__paragraph.css);
@import url(../blocks/popup/__quality-block/popup__quality-block.css);
@import url(../blocks/popup/__quality-list/popup__quality-list.css);
@import url(../blocks/popup/__button-course/popup__button-course.css);
@import url(../blocks/popup/__close-icon/popup__close-icon.css);
@import url(../blocks/about/about.css);
@import url(../blocks/about/__title/about__title.css);
@import url(../blocks/about/__description/about__description.css);
@import url(../blocks/about/__container/about__container.css);
@import url(../blocks/about/__image/about__image.css);
@import url(../blocks/about/__block-description/about__block-description.css);
@import url(../blocks/about/__school-list/about__school-list.css);
@import url(../blocks/about/__option/about__option.css);
@import url(../blocks/about/__address-icon/about__address-icon.css);
@import url(../blocks/about/__option-icon/about__option-icon.css);
@import url(../blocks/about/__option-text/about__option-text.css);
@import url(../blocks/partners/partners.css);
@import url(../blocks/partners/__title/partners__title.css);
@import url(../blocks/partners/__logos/partners__logos.css);
@import url(../blocks/partners/__logo/partners__logo.css);
@import url(../blocks/partners/__logo/_clickable/partners__logo_clickable.css);
