.header__menu {
	display: none;
}

@media screen and (max-width: 1024px) {
	.header__menu {
		position: absolute;
		top: 50px;
		right: 50px;
		display: block;
		width: 30px;
		height: 30px;
		padding: 0 0 0 0;
		background-color: #ffffff;
		border: none;
		cursor: pointer;
		transform: translate(-50%, -50%);
	}
}

.header__menu::before,
.header__menu::after {
	display: block;
	height: 3px;
	margin: 7px 0;
	background: #252525;
	border-radius: 3px;
	transition: 0.5s;
	content: '';
}

.header__menu:hover::before {
	transform: translateY(7px) rotate(135deg);
}

.header__menu:hover::after {
	transform: translateY(-7px) rotate(-135deg);
}
