.principles__flex-container {
    margin: 0;
    padding: 0%;
    width: 300%;
    display: flex;
    border: 11px black solid;
    z-index: 222;
    justify-content: space-between;
    list-style: none;
    margin-top: 80px;
}


@media screen and (max-width: 1000px) {
    .principles__flex-container {
        z-index: 222;
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}