.principles__scroll-container {
    margin: 0;
    padding: 0;
    background: #AE46FF;
    border-radius: 60px;
    width: 300%;
    display: flex;
    justify-content: space-between;
    list-style: none;
}



@media screen and (max-width: 1000px) {
    .principles__scroll-container {
        border: 11px black solid;
        width: 100vw;
        height: 100%;
    }
}