.course__title {
	display: flex;
	align-self: flex-start;
	margin: 10px 0 0 0;
	padding-bottom: 37.5px;
	font-weight: 600;
	font-size: 60px;
	line-height: 1.13;
	letter-spacing: -1px;
	text-align: center;
}

@media screen and (max-width: 1220px) {
	.course__title {
		margin-left: 30px;
		padding-bottom: 40px;
		font-size: 48px;
		line-height: 1.22;
	}
}

@media screen and (max-width: 750px) {
	.course__title {
		margin: 30px 0 0 15px;
		padding-bottom: 30px;
		font-size: 36px;
		line-height: 1.22;
	}
}
