.popup__container_block_column {
	align-items: center;
	gap: 40px;
	max-width: 885px;
	padding: 40px;
}

@media screen and (max-width: 1024px) {
	.popup__container_block_column {
		gap: 30px;
		max-width: 80%;
		padding: 30px;
	}
}

@media screen and (max-width: 750px) {
	.popup__container_block_column {
		max-width: 92%;
		padding: 30px 15px;
		border-radius: 40px;
	}
}
