.principles__element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0%;
    width: 100%;
   
}




@media screen and (max-width: 1000px) {
    .principles__element {
        border: 11px black solid;
        width: 100vw;
        margin-top: 60px;
    }
}
