.course__description {
	margin: 0 30px 0 0;
	padding: 0;
	overflow: hidden;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.22;
	text-overflow: ellipsis;
}

.course__description:first-of-type {
	margin-bottom: 15px;
}
